<form [formGroup]="muscleForm">
    <div class="form-group">
        <label for="">Equipment</label>
        <div *ngFor="let checkbox of checkboxes; let i = index" formArrayName="muscles">
            <input type="checkbox" [formControlName]="i" value="{{ checkbox.value }}" id="{{ checkbox.value }}"/>
            <label for="{{ checkbox.value }}">{{ checkbox.name }}</label>
        </div>
    </div>
    <object type="image/svg+xml" data="../../../assets/anatomical-6826992.svg" #svgObject></object>
</form>
